@font-face {
    font-family: "DejaVu";
    src: url('fonts/DejaVuSansMono.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DejaVu";
}

html, body, #__next {
    height: 100vh;
}

#__next {
    display: flex;
    flex-direction: column;
}