.categoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goodsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}