@import '@/styles/variables/color-variables.module.scss';

.itemWrapper {
    width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    text-decoration: none;

    &:hover {
        background-color: rgba(255, 255, 255, .2);
    }
}