@import '@/styles/variables/color-variables.module.scss';

.button {
    all: unset;
    position: relative;
    outline: 1px solid $button-color-primary;
    padding: 20px 30px;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s;

    &::after, &::before {
        content: '';
        position: absolute;
        background-color: $button-color-primary;
        width: 40px;
        height: 40px;
        rotate: 45deg;
    }

    &::before {
        top: -20px;
        right: -20px;
    }

    &::after {
        bottom: -20px;
        left: -20px;
    }

    &:hover {
        outline-color: $button-color-hover;

        &::after, &::before {
            background-color: $button-color-hover;
        }
    }
}