@import '@/styles/variables/color-variables.module.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid $white;
    background-color: $black;
    color: $white;
    z-index: 1;
}

.menu:hover {
    cursor: pointer;
}